In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error , r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('ordinary.csv', index_col=0)
df.drop(['Special_C','Period'], axis=1, inplace=True)
df.head()

,Club_V,Position_Class,Value,Wage,International Reputation,Age_C,Over_C,Loaned
109,2,3,14000000.0,15000.0,5.0,9,10,1
166,3,2,36500000.0,18000.0,2.0,3,8,0
173,2,2,33000000.0,20000.0,3.0,3,8,1
226,3,1,27000000.0,11000.0,2.0,1,7,1
274,3,1,21000000.0,19000.0,3.0,5,7,1

In [3]:
df.Over_C=df.Over_C.astype('str')
df.Age_C=df.Age_C.astype('str')
df.Club_V=df.Club_V.astype('str')
df.Position_Class=df.Position_Class.astype('str')
# df['International Reputation']=df['International Reputation'].astype('str')
df_o=pd.get_dummies(df)

In [10]:
X= df_o.drop(['Wage'],axis = 1)
y= df_o['Wage']
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=165)
# 단순 회귀 분석 모형 생성 및 평가
lr = LinearRegression()
lr.fit(X_train, y_train)
pred= lr.predict(X_test)
mse = mean_squared_error(y_test,pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test,pred) # r_square = lr.score(X_test, y_test)도 같은 값

print('MSE: {0:.3f}, RMSE: {1:.3f}, r2 score: {2:.3f}'.format(mse, rmse,r2))

MSE: 8410322.203, RMSE: 2900.056, r2 score: 0.596